@use 'src/styles/vars';

.review__ratings {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 1rem;

  &__btn {
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    font-weight: vars.$fw-bold;
    border: none;
    border-radius: 1.5rem;
    background-color: vars.$dark-blue;
    color: vars.$light-grey;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: vars.$light-grey;
      color: vars.$white;
      transform: scale(1.05);
      transition: all 0.2s ease-in-out;

    }

    &--selected {
      background-color: vars.$green;
      color: vars.$white;
      animation: selectGrow 0.5s 1;

      &:hover {
        background-color: vars.$green;
      }
    }

    &--comment {
      font-size: 1.5em;
    }
  }
}

@keyframes selectGrow {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.05);
  }
}
